{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRM</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'bootstrap/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bootstrap/vendor/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">                
                <a class="navbar-brand fa fa-report fa-heading" href="customer"> <h4>Custom Resource Management (CRM)</h4></a>
                
            </div>
            <!-- /.navbar-header -->

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" >
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">                        
                        <li>
                            <a href="customer"><i class="fa fa-user fa-fw"></i> Customer</a>
                        </li>
                        <li>
                            <a href="salesman"><i class="fa fa-bar-chart-o fa-fw"></i> Salesman</a>                           
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Inventory</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Products</a>
                        </li> 
                        <li>
                            <a href="#"><i class="fa fa-report fa-fw"></i> Report</a>
                        </li>                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->            
            <div class="row">
                <div class="col-lg-16">
                    
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-xl">
                            <i class="fa fa-fw well-sm">Customers</i> 
                            <div class="pull-right">
                                <div class="btn-group ">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="customer">View</a>
                                        </li>
                                        <li><a href="editCustomer">Edit</a>
                                        </li>
                                        <li><a href="addCustomer">Add action</a>
                                        </li>
                                        <li><a href="deleteCustomer">Delete</a>
                                        </li>
                                        <li class="divider"></li>                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body dataTables_scroll">
                            <form action='cusCRUD' method='POST'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-16">
                                    <div class="table-responsive">
                                        {% if option is 1 %}                                        
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    {% comment %} <th></th> {% endcomment %}
                                                    <th>Customer Id</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Occupation</th>
                                                    <th>Phone No</th>
                                                    <th>Address</th>
                                                    <th>Registration Date</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            {% for cus in cus %}
                                                <tr>
                                                    {% comment %} <form action='deleteCustomer' method='POST'> {% endcomment %}                                                    
                                                    {% comment %} <td><input type='submit' name='action' value='Delete'></td> {% endcomment %}
                                                    <td>{{cus.customer_id}}</td>
                                                    <td name='fCustomer' value='{{cus.first_name}}'>{{cus.first_name}}</td>
                                                    <td>{{cus.last_name}}</td>
                                                    <td>{{cus.email}}</td>
                                                    <td>{{cus.occupation}}</td>
                                                    <td>{{cus.phone_number}}</td>
                                                    <td>{{cus.address}}</td>
                                                    <td>{{cus.data_registration}}</td>
                                                    {% comment %} </form> {% endcomment %}
                                                </tr> 
                                            {% endfor %}                                               
                                            </tbody>
                                        </table>     
                                        <div class="panel-footer">
                                        <div class="input-group">
                                            <input name="fCustomer" type="text" class="form-control input-sm " placeholder="Search by First name ss" />
                                            <span class="input-group-btn">
                                            <input type='submit' name='action' value='Find' class="btn btn-warning btn-sm " id="btn-chat">                                    
                                            </span>
                                        </div>
                                    </div> 
                                    {% endif %}                                  
                                        <!-- /.panel-footer -->
                                        
                                        {% if option is 2 %}
                                        {% comment %} <form action='addCustomer' method='POST'> {% endcomment %}
                                        <table class="table table-bordered table-hover table-striped">                                            
                                            <tbody>
                                                <tr>
                                                    <td>Customer Id</td> 
                                                    <td><input type='text' placeholder='0000' name='id' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>First Name</td> 
                                                    <td><input type='text' placeholder='First Name' name='fname' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Last Name</td> 
                                                    <td><input type='text' placeholder='Last Name' name='lname' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Email</td> 
                                                    <td><input type='Email' placeholder='smpavucsan@gmail.com' name='email' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Occupation</td> 
                                                    <td><input type='text' placeholder='Student' name='occupation' class="form-control"></td>                                                   
                                                </tr>  
                                                <tr>
                                                    <td>Phone No</td> 
                                                    <td><input type='text' placeholder='012 3456789' name='phone' class="form-control"></td>                                                   
                                                </tr>        
                                                <tr>
                                                    <td>Address</td> 
                                                    <td><input type='text' placeholder='Enter the Address' name='address' class="form-control"></td>                                                   
                                                </tr>                              
                                            </tbody>
                                        </table>
                                        <input type='submit' name='action' value='Add' class='btn btn-sm btn-success col-lg-2'>
                                        <input type='reset' value='Clear' class='btn btn-sm col-lg-2'>  
                                        {% comment %} </form>  {% endcomment %}
                                        {% endif %}

                                        {% if option is 3 %}                                        
                                        {% comment %} <form action='editCustomer' method='POST'>  {% endcomment %}
                                        <table class="table table-bordered table-hover table-striped">
                                        {% for cus in cus %}                                            
                                            <tbody>
                                                <tr>
                                                    <td>Customer Id</td> 
                                                    <td><input type='text' placeholder='0000' name='ide' value='{{cus.customer_id}}' class="form-control" ></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>First Name</td> 
                                                    <td><input type='text' placeholder='First Name' value='{{cus.first_name}}' name='fname' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Last Name</td> 
                                                    <td><input type='text' placeholder='Last Name' value='{{cus.last_name}}' name='lname' class="form-control"></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Email</td> 
                                                    <td><input type='Email' placeholder='smpavucsan@gmail.com' value='{{cus.email}}' name='email' class="form-control" disabled></td>                                                   
                                                </tr> 
                                                <tr>
                                                    <td>Occupation</td> 
                                                    <td><input type='text' placeholder='Student' value='{{cus.occupation}}' name='occupation' class="form-control"></td>                                                   
                                                </tr>  
                                                <tr>
                                                    <td>Phone No</td> 
                                                    <td><input type='text' placeholder='012 3456789' value='{{cus.phone_number}}' name='phone' class="form-control"></td>                                                   
                                                </tr>        
                                                <tr>
                                                    <td>Address</td> 
                                                    <td><input type='text' value='{{cus.address}}' placeholder='Enter the Address' name='address' class="form-control"></td>                                                   
                                                </tr>   
                                                                                   
                                            </tbody>
                                        
                                        </table>
                                        <input type='submit' name='action' value='Update' class='btn btn-sm btn-success col-lg-2'>
                                        <input type='reset' value='Clear' class='btn btn-sm col-lg-2'>
                                        {% endfor %}
                                    </div>
                                    <!-- /.table-responsive -->
                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <input name="fCustomer" type="text" class="form-control input-sm " placeholder="Search by First name" />
                                            <span class="input-group-btn">
                                            <input type='submit' name='action' value='Search' class="btn btn-warning btn-sm " id="btn-chat">                                    
                                            </span>
                                        </div>
                                    </div>  
                                    {% endif %}
                                    {% if option is 5 %}
                                    <div class="panel-footer">
                                        <div class="input-group">
                                            <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Customer Id</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Occupation</th>
                                                    <th>Phone No</th>
                                                    <th>Address</th>
                                                    <th>Registration Date</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                            {% for cus in cus %}
                                                <tr>                                                    
                                                    <td>{{cus.customer_id}}</td>
                                                    <td >{{cus.first_name}}</td>
                                                    <td>{{cus.last_name}}</td>
                                                    <td>{{cus.email}}</td>
                                                    <td>{{cus.occupation}}</td>
                                                    <td>{{cus.phone_number}}</td>
                                                    <td>{{cus.address}}</td>
                                                    <td>{{cus.data_registration}}</td>
                                                </tr> 
                                            {% endfor %}                                               
                                            </tbody>
                                        </table>      
                                            <input name="fCustomer" type="text" class="form-control input-sm " placeholder="Search by First name" />
                                            <span class="input-group-btn">
                                            <input type='submit' name='action' value='Find' class="btn btn-warning btn-sm " id="btn-chat">      
                                            <input type='submit' name='action' value='Delete' class="btn btn-warning btn-sm " id="btn-chat">                                    
                                            </span>
                                        </div>
                                    </div>                                    
                                    <!-- /.panel-footer -->
                                    {% endif %}
                                </div>                               
                            </div>
                            <!-- /.row -->
                        </div>
                        </form>
                        <!-- /.panel-body -->
                    </div>                    
                        <!-- /.panel-body -->
                        
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'bootstrap/vendor/raphael/raphael.min.js' %}"></script>
    <script src="bootstrap/vendor/morrisjs/morris.min.js"></script>
    <script src="bootstrap/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>

</body>

</html>
